body {
  font-family: "Quicksand";
}

#gust-foot, #gust-head {
  background: #E74C3C !important;
  color: white;
  font-size: 16px;
}

.brand-logo {
  font-family: "Grand Hotel", cursive;
}

#gust-foot {
  bottom: 0;
  position: fixed;
}

#nav-mobile {
  padding-right: 15px;
}
