$gred: #E74C3C;
$basic-pad: 20px 20px 20px 20px !important;
$qs: 'Quicksand';
$gh:'Grand Hotel', cursive;
$gust-home-color: white;


body{
	font-family: $qs;
}

%gust-block{
	background: $gred !important;
	color:white;
	font-size:16px;
}
